*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: hsl(20, 100%, 2%);
  --clr-secondary: hsla(169, 100%, 56%);
  --clr-accent: hsl(240, 100%, 98%);
  --clr-accent-90: hsl(240, 2%, 38%);
  --clr-accent-92:hsl(291, 51%, 92%);
  --clr-accent-52:hsl(290, 83%, 51%);
  --clr-gradient: linear-gradient(
    -90deg,
    var(--clr-primary),
    var(--clr-secondary)
  );
  --ff-title: "Heebo", sans-serif;
  --ff-subtile: "Rajdhani", sans-serif;
  --ff-body: "Carme", sans-serif;
  --fw-body: 200;
  --fw-bold: 800;
  --fw-title: 400;
  --fw-number: 800;
}
body{
  line-height: 1.6;
  font-size: 16px;
}
.container {
  background-color: var(--clr-primary);
  padding: 2em 0;
  .container-title{
    color: var(--clr-accent);
    font-size: 4rem;
    font-family: var(--ff-title);
    text-transform: uppercase;
    width: 80%;
    margin: 0 auto;
    text-shadow: -3px -3px 0 var(--clr-accent-52),-6px -6px 0 var(--clr-accent);
    letter-spacing: 5px;
  }
}
.container-wrapper,
.children-wrapper {
  width: 80%;
  margin: 0 auto;
}
.container-wrapper h1,
.children-wrapper h1 {
  color: var(--clr-accent);
  text-transform: capitalize;
  padding: 2em 0;
  position: relative;
}
.container-wrapper h1::after,
.container-wrapper h1::before,
.children-wrapper h1::after,
.children-wrapper h1::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 0.5px;
  top: 120px;
  background-color: red;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.set {
  background-color: var(--clr-primary);
  min-width: 320px;
  flex-grow: 1;
}
.container-wrapper .set{
     color: hsl(169, 100%, 90%);
}
.children-wrapper .set{
     color: var(--clr-accent-92);
}
.setTitle {
  padding: 1em 0 1em;
  font-family: var(--ff-subtile);
  font-weight: var(--fw-bold);
}
.set .setPara {
  max-width: 335px;
  margin-bottom: 1em;
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  color: var(--clr-accent-90);
}
.set-items {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.items-container {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-grow: 1;
}
.items-container h2,
.item-title {
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
}
.items {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  border: 1px solid hsl(105, 42%, 10%);
  gap: 0.2em;
}
.children-wrapper .items{
    border: 1px solid hsl(291, 41%, 10%);
}

.item {
  background-color: var(--clr-secondary);
  width: 3px;
  display: block;
}
.children-wrapper .item{
    background-color: var(--clr-accent-52);
}
.items--display-flex {
  display: flex;
}
.items--display-inline-flex {
  display: inline-flex;
}
.items--flex-direction-row {
  flex-direction: row;
}
.items--flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.items--flex-direction-column {
  flex-direction: column;
}
.items--flex-direction-column-reverse {
  flex-direction: column-reverse;
}
.item-test {
  width: 100%;
  border: 2px solid var(--clr-secondary);
}
.items--flex-start {
  justify-content: flex-start;
}
.items--flex-end {
  justify-content: flex-end;
}
.items--center {
  justify-content: center;
}
.items--space-between {
  justify-content: space-between;
}
.items--space-around {
  justify-content: space-around;
}
.items--space-evenly {
  justify-content: space-evenly;
}
.items--flex-wrap {
  flex-wrap: nowrap;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.align-item {
  width: 6px;
  height: 6px;
}
.items--align-item-flex-start {
  align-items: flex-start;
}
.items--align-item-flex-end {
  align-items: flex-end;
}
.items--align-item-center {
  align-items: center;
}
.items--align-item-baseline {
  align-items: baseline;
}
.items--align-item-stretch {
  align-items: stretch;
}
.items--flex-grow-1,
.flex-grow-1-2-3 {
  display: flex;
}
.item--flex-grow-1 {
  flex-grow: 1;
}
.items--flex-grow-1-2-3 .item:nth-child(1) {
  flex-grow: 1;
}
.items--flex-grow-1-2-3 .item:nth-child(2) {
  flex-grow: 2;
}
.items--flex-grow-1-2-3 .item:nth-child(3) {
  flex-grow: 3;
}
/* flex-basis */
.items--flex-basis .item:nth-child(1) {
  flex-basis: 20%;
}
.items--flex-basis .item:nth-child(2) {
  flex-basis: 40%;
}

/* flex-shrink */
.items--flex-shrink .item{
     flex-basis:100%;
}
.items--flex-shrink .item:nth-child(2){
    flex-shrink: 2;
}

/* align-self */
.items--align-self .item:nth-child(3){
        align-self: flex-end;
}

/* footer */
footer{
  background-color: var(--clr-primary);
  padding: 2em 0;
  p{
    width: 80%;
    margin: 0 auto;
    background-color: var(--clr-primary);
    font-family: var(--ff-body);
    color: var(--clr-accent-90);

    a{
      color: var(--clr-accent-90);
    }
  }

}