*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(20, 100%, 2%);
  --clr-secondary: hsla(169, 100%, 56%);
  --clr-secondary-244: rgb(94, 108, 105);
  --clr-accent: hsl(240, 100%, 98%);
  --clr-accent-90: hsl(240, 2%, 38%);
  --clr-accent-92:hsl(291, 51%, 92%);
  --clr-accent-52:hsl(290, 83%, 51%);
  --clr-gradient: linear-gradient(
    -90deg,
    var(--clr-primary),
    var(--clr-secondary)
  );
  --ff-title: "Heebo", sans-serif;
  --ff-subtile: "Rajdhani", sans-serif;
  --ff-body: "Carme", sans-serif;
  --fw-body: 200;
  --fw-bold: 800;
  --fw-title: 400;
  --fw-number: 800;
}

body {
  line-height: 1.6;
  font-size: 16px;
}

.wrapper {
  background-color: var(--clr-primary);
  color: var(--clr-accent);
  display: grid;
  grid-template-areas: "header" "main" "footer";
  padding: 2em 0;
}

/* header */
header {
  grid-area: header;
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
  font-family: var(--ff-title);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: -5px -5px 0 var(--clr-accent-90), -6px -6px 0 var(--clr-primary);
}

/* main */
main {
  grid-area: main;
}
main .container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
main .container .set .setTitle {
  font-family: var(--ff-subtile);
  text-transform: capitalize;
}
main .container .set .setPara {
  font-family: var(--ff-body);
  color: var(--clr-accent-90);
}
main .container .set .set-items--container {
  display: grid;
  gap: 1em;
}
main .container .set .set-items--container .set-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
main .container .set .set-items--container .set-items .items {
  width: 4.6rem;
  height: 4.6rem;
  border: 1px solid var(--clr-secondary-244);
  padding: 0.5em;
  display: grid;
  gap: 1px;
}
main .container .set .set-items--container .set-items .items .item {
  min-height: 0.3rem;
  min-width: 0.4rem;
  background-color: var(--clr-secondary);
  border: 1px solid var(--clr-primary);
}
main .container .set .set-items--container .set-items .items--display--inline-grid {
  display: inline-grid;
}
main .container .set .set-items--container .set-items .items--display--subgrid {
  display: subgrid;
}
main .container .set .set-items--container .set-items .items--grid-template-column-row {
  display: grid;
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
}
main .container .set .set-items--container .set-items .items--grid-template-column-row-repeat {
  grid-template-columns: repeat(3, 12px);
  grid-template-rows: repeat(3, auto);
}
main .container .set .set-items--container .set-items .items--grid-template-column-row-auto {
  grid-template-columns: 8px auto 8px;
  grid-template-rows: 8px auto 12px;
}
main .container .set .set-items--container .set-items .items--grid-template-column-row-auto-percentise {
  grid-template-columns: 22% 22% auto;
  grid-template-rows: 22% auto 22%;
}
main .container .set .item-heading {
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  font-size: 1rem;
  color: var(--clr-accent);
}
@media (min-width: 769px) {
  main .container {
    grid-template-columns: 1fr 1fr;
  }
}

/* footer */
footer {
  grid-area: footer;
  background-color: var(--clr-primary);
  padding: 2em 0;
  border: 1px solid red;
}
footer p {
  width: 80%;
  margin: 0 auto;
  background-color: var(--clr-primary);
  font-family: var(--ff-body);
  color: var(--clr-accent-90);
}
footer p a {
  color: var(--clr-accent-90);
}/*# sourceMappingURL=style.css.map */