*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(20, 100%, 2%);
  --clr-secondary: hsla(169, 100%, 56%);
  --clr-secondary-244: rgb(94, 108, 105);
  --clr-accent: hsl(240, 100%, 98%);
  --clr-accent-90: hsl(240, 2%, 38%);
  --clr-accent-92:hsl(291, 51%, 92%);
  --clr-accent-52:hsl(290, 83%, 51%);
  --clr-radish:hsla(346, 89%, 56%, 0.72);
  --clr-radish-10:hsla(348, 56%, 98%, 0.786);
  --clr-gradient: linear-gradient(
    -90deg,
    var(--clr-primary),
    var(--clr-secondary)
  );
  --ff-title: "Heebo", sans-serif;
  --ff-subtile: "Rajdhani", sans-serif;
  --ff-body: "Carme", sans-serif;
  --fw-body: 200;
  --fw-bold: 800;
  --fw-title: 400;
  --fw-number: 800;
  --fs-xl:5rem;
  --fs-600:1.5rem;
  --fs-500:1.25rem;
  --fs-400:1rem;
}

@media (min-width: 40em) {
  :root {
    --fs-600: 3rem;
    --fs-400: 1.125rem;
  }
}
body {
  line-height: 1.6;
  font-size: 16px;
}

.wrapper {
  background-color: var(--clr-primary);
  color: var(--clr-accent);
  display: grid;
  grid-template-areas: "header" "main" "footer";
  padding: 2em 0;
}

/* header */
header {
  grid-area: header;
  width: 80%;
  margin: 0 auto;
  font-family: var(--ff-title);
  font-size: var(--fs-600);
  text-transform: uppercase;
  text-shadow: -5px -5px 0 var(--clr-accent-90), -6px -6px 0 var(--clr-primary);
}

/* main */
main {
  grid-area: main;
}
main .container-wrapper .container-wrapper--title {
  font-family: var(--ff-subtile);
  font-size: var(--fs-600);
  padding: 1em 0;
  width: 80%;
  margin: 0 auto;
}
main .container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
main .container .set {
  margin-bottom: 2em;
}
main .container .set .setTitle {
  font-family: var(--ff-subtile);
  text-transform: capitalize;
  font-size: var(--ff-subtile);
}
main .container .set .setPara {
  margin-bottom: 1em;
  font-family: var(--ff-body);
  color: var(--clr-accent-90);
  font-size: var(--fs-400);
  font-size: clamp(0.75rem, 1rem + 1.3vw, var(--fs-400));
}
main .container .set .set-items--container {
  display: grid;
  gap: 1em;
}
main .container .set .set-items--container .set-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: start;
}
main .container .set .set-items--container .set-items .items {
  width: 4.6rem;
  height: 4.6rem;
  border: 1px solid var(--clr-secondary-244);
  padding: 0.5em;
  display: grid;
  gap: 1px;
}
main .container .set .set-items--container .set-items .items .item {
  min-height: 0.3rem;
  min-width: 0.4rem;
  background-color: var(--clr-secondary);
  border: 1px solid var(--clr-primary);
}
main .container .set .set-items--container .set-items .items .set-items--children {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--display--inline-grid {
  display: inline-grid;
}
main .container .set .set-items--container .set-items .items--display--subgrid {
  display: subgrid;
}
main .container .set .set-items--container .set-items .items--grid-template-column-row {
  display: grid;
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
}
main .container .set .set-items--container .set-items .items--grid-template-column-row-repeat {
  grid-template-columns: repeat(3, 12px);
  grid-template-rows: repeat(3, auto);
}
main .container .set .set-items--container .set-items .items--grid-template-column-row-auto {
  grid-template-columns: 8px auto 8px;
  grid-template-rows: 8px auto 12px;
}
main .container .set .set-items--container .set-items .items--grid-template-column-row-auto-percentise {
  grid-template-columns: 22% 22% auto;
  grid-template-rows: 22% auto 22%;
}
main .container .set .set-items--container .set-items .items--grid-row-column-gap {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1px;
  grid-column-gap: 9px;
}
main .container .set .set-items--container .set-items .items--grid-gap {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px 9px;
}
main .container .set .set-items--container .set-items .items--grid-gap-6px {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 6px;
}
main .container .set .set-items--container .set-items .items--justify-items--start {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-gap: 6px;
  justify-items: start;
}
main .container .set .set-items--container .set-items .items--justify-items--end {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-gap: 6px;
  justify-items: end;
}
main .container .set .set-items--container .set-items .items--justify-items--center {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-gap: 6px;
  justify-items: center;
}
main .container .set .set-items--container .set-items .items--justify-items--stretch {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-gap: 6px;
  justify-items: stretch;
}
main .container .set .set-items--container .set-items .items--align-items--start {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-gap: 6px;
  align-items: start;
}
main .container .set .set-items--container .set-items .items--align-items--end {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-gap: 6px;
  align-items: end;
}
main .container .set .set-items--container .set-items .items--align-items--center {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-gap: 6px;
  align-items: center;
}
main .container .set .set-items--container .set-items .items--align-items--stretch {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-gap: 6px;
  align-items: stretch;
}
main .container .set .set-items--container .set-items .items--justify-content--start {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  justify-content: start;
}
main .container .set .set-items--container .set-items .items--justify-content--end {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  justify-content: end;
}
main .container .set .set-items--container .set-items .items--justify-content--center {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  justify-content: center;
}
main .container .set .set-items--container .set-items .items--justify-content--stretch {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  justify-content: stretch;
}
main .container .set .set-items--container .set-items .items--justify-content--space-around {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  justify-content: space-around;
}
main .container .set .set-items--container .set-items .items--justify-content--space-between {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  justify-content: space-between;
}
main .container .set .set-items--container .set-items .items--justify-content--space-evenly {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  justify-content: space-evenly;
}
main .container .set .set-items--container .set-items .items--grid-auto-flow--row {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-auto-flow: row;
}
main .container .set .set-items--container .set-items .items--grid-auto-flow--column {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-auto-flow: column;
}
main .container .set .set-items--container .set-items .items--grid-auto-flow--dense {
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-auto-flow: dense;
}
main .container .set .set-items--container .set-items .items--grid-column-start-end {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-column-start-end .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-column-start-end :nth-child(1) {
  background: var(--clr-radish-10);
  grid-column-start: 1;
  grid-column-end: 3;
}
main .container .set .set-items--container .set-items .items--grid-column-start-span-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-column-start-span-3 .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-column-start-span-3 :nth-child(1) {
  background: var(--clr-radish-10);
  grid-column-start: span 3;
}
main .container .set .set-items--container .set-items .items--grid-column-start-end-2-4 {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-column-start-end-2-4 .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-column-start-end-2-4 :nth-child(1) {
  background: var(--clr-radish-10);
  grid-column-start: 2;
  grid-column-end: 4;
}
main .container .set .set-items--container .set-items .items--grid-column-2-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-column-2-3 .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-column-2-3 :nth-child(1) {
  background: var(--clr-radish-10);
  grid-column: 2/3;
}
main .container .set .set-items--container .set-items .items--grid-column-2-span2 {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-column-2-span2 .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-column-2-span2 :nth-child(1) {
  background: var(--clr-radish-10);
  grid-column: 2/span 2;
}
main .container .set .set-items--container .set-items .items--grid-row-start-end {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-row-start-end .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-row-start-end :nth-child(1) {
  background: var(--clr-radish-10);
  grid-row-start: 1;
  grid-row-end: 3;
}
main .container .set .set-items--container .set-items .items--grid-row-start-span-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-row-start-span-3 .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-row-start-span-3 :nth-child(1) {
  background: var(--clr-radish-10);
  grid-row-start: span 3;
}
main .container .set .set-items--container .set-items .items--grid-row-start-end-2-4 {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-row-start-end-2-4 .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-row-start-end-2-4 :nth-child(1) {
  background: var(--clr-radish-10);
  grid-row-start: 2;
  grid-row-end: 4;
}
main .container .set .set-items--container .set-items .items--grid-row-2-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-row-2-3 .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-row-2-3 :nth-child(1) {
  background: var(--clr-radish-10);
  grid-row: 1/3;
}
main .container .set .set-items--container .set-items .items--grid-row-2-span2 {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-row-2-span2 .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-row-2-span2 :nth-child(1) {
  background: var(--clr-radish-10);
  grid-row: 1/span 3;
}
main .container .set .set-items--container .set-items .items--grid-row-column-span {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-row-column-span .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-row-column-span :nth-child(1) {
  background: var(--clr-radish-10);
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
main .container .set .set-items--container .set-items .items--grid-row-column-span-2 {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--grid-row-column-span-2 .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--grid-row-column-span-2 :nth-child(1) {
  background: var(--clr-radish-10);
  grid-row: 2/span 2;
  grid-column: 2/span 2;
}
main .container .set .set-items--container .set-items .items--justify-self--start {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--justify-self--start .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--justify-self--start :nth-child(1) {
  background: var(--clr-radish-10);
  justify-self: start;
}
main .container .set .set-items--container .set-items .items--justify-self--end {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--justify-self--end .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--justify-self--end :nth-child(1) {
  background: var(--clr-radish-10);
  justify-self: end;
}
main .container .set .set-items--container .set-items .items--justify-self--center {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--justify-self--center .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--justify-self--center :nth-child(1) {
  background: var(--clr-radish-10);
  justify-self: center;
}
main .container .set .set-items--container .set-items .items--justify-self--stretch {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--justify-self--stretch .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--justify-self--stretch :nth-child(1) {
  background: var(--clr-radish-10);
  justify-self: stretch;
}
main .container .set .set-items--container .set-items .items--align-self--start {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--align-self--start .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--align-self--start :nth-child(1) {
  background: var(--clr-radish-10);
  align-self: start;
}
main .container .set .set-items--container .set-items .items--align-self--end {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--align-self--end .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--align-self--end :nth-child(1) {
  background: var(--clr-radish-10);
  align-self: end;
}
main .container .set .set-items--container .set-items .items--align-self--center {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--align-self--center .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--align-self--center :nth-child(1) {
  background: var(--clr-radish-10);
  align-self: center;
}
main .container .set .set-items--container .set-items .items--align-self--stretch {
  grid-template-columns: 1fr 1fr 1fr;
}
main .container .set .set-items--container .set-items .items--align-self--stretch .item {
  background-color: var(--clr-radish);
}
main .container .set .set-items--container .set-items .items--align-self--stretch :nth-child(1) {
  background: var(--clr-radish-10);
  align-self: stretch;
}
main .container .set .item-heading {
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  font-size: 1rem;
  color: var(--clr-accent);
}
@media (min-width: 769px) {
  main .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  main .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* footer */
footer {
  grid-area: footer;
  background-color: var(--clr-primary);
  padding: 2em 0;
}
footer p {
  width: 80%;
  margin: 0 auto;
  background-color: var(--clr-primary);
  font-family: var(--ff-body);
  color: var(--clr-accent-90);
}
footer p a {
  color: var(--clr-accent-90);
}/*# sourceMappingURL=style.css.map */